<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liderman.mundolidermanapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".presentation.ui.application.LiderManApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme2">
        <activity
            android:name=".presentation.ui.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.MisArchivosActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.ProcedimientoUniformeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.PreguntasFrecuentesUniformeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.SolicitudUniformeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.PreguntasFrecuentesPlanillasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.ConveniosFinanciamientoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.SigSsomaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.PreguntasFrecuentesRenunciaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.DetalleProcesoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.AmaLifeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.EvaluacionApoyoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.OtrosActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.SucamecActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.AccidenteDeTrabajoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.AfiliacionesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.LicenciaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.DescansoMedicoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.BienestarSocialActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.VacacionesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.ContratoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.PlanillasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.AmaAboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.home.AmaPayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.DirectoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.UpdateProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity"
            tools:targetApi="n" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.QuestionnaireActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.YoutubeViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.LoansActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.ContactTareoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.TareoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.ClaimActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.LidermaniaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.SgiDocActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.MyTicketsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.MyTicketsDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.UtilidadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.UtilidadDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.EmergencyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.ShareFriendsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.UniformesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.AnnouncesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.FormRenunciasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.RenunciaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.ConstanciaTrabajoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.DeseoDesafiliarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.DeseoAfiliarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.QuieroCrecerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.PremiumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.BecasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.FinanciamientoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.AmaCreceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.CanjeDMActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.liderman.mundolidermanapp.presentation.ui.activity.PresentarDMActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>